.games-container {
    // display: flex;
    // margin-bottom: 0.1rem;
}

.games-flex-wrapper {
    display: flex;
}

.games-icon__png {
    height: 100px;
    width: auto;
}

.games-desc {
    line-height: 0.2rem;
    font-size: 12px;
    color: rgb(175, 172, 172);
    padding: 10px;
}

.games-desc__title {
    font-size: 24px;
    line-height: 1rem;
}

.games-desc__title:hover {
    text-decoration: none;
}

.games-desc__dev {
    font-size: 16px;
    line-height: 1rem;
    color: rgb(131, 130, 130);

}